<div id="content">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element">
                <p *ngIf="element.fav;">{{element.nom}}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="artista">
            <th mat-header-cell *matHeaderCellDef> Artista </th>
            <td mat-cell *matCellDef="let element"> {{element.artista}} </td>
        </ng-container>

        <ng-container matColumnDef="genere">
            <th mat-header-cell *matHeaderCellDef> Genere </th>
            <td mat-cell *matCellDef="let element"> {{element.genere }} </td>
        </ng-container>

        <ng-container matColumnDef="Reproducir">
            <th mat-header-cell *matHeaderCellDef> Reproducir</th>
            <td mat-cell *matCellDef="let element"><a href='/control/{{element.nom}}/pref'>Play</a></td>
        </ng-container>

        <ng-container matColumnDef="favorit">
            <th mat-header-cell *matHeaderCellDef> Favorit</th>
            <td mat-cell *matCellDef="let element">
                <ng-template *ngIf="element.fav; then thenBlock else elseBlock"></ng-template>
                <ng-template #thenBlock><img src="/assets/img/starOn.png" width="50px" height="50px" (click)="isFav(element.nom);" /></ng-template>
                <ng-template #elseBlock><img src="/assets/img/starOff.svg.png" width="50px" height="50px" (click)="isFav(element.nom);" /></ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
</div>